<ion-view title="Plant-Ent" id="como" class="inicio-pane">
  <ion-content padding="false" class="has-header">
    <div class="list card">

    <div class="item">
      <h2 style="text-align: center;">Córtez Amarillo</h2>
    </div>

    <div class="item item-image">
      <img src="img/cortezamarillo.jpg">
    </div>

    <p style="padding: 5px">Esta especie es muy llamativa por el amarillo intenso de sus flores, la caducidad foliar y la pubescencia ferrugínea que recubre casi todas sus partes, las yemas foliares que se agrupan al final de las ramitas, formando glomérulos, y por la corteza fisurada. Durante la época seca, el árbol pierde todas las hojas y la copa entera se cubre de flores. La madera se considera una de las más pesadas y duras de la América tropical y se ha utilizado en la construcción de durmientes para líneas de ferrocarril, ejes de carretas, postes, etc.</p>

    <button ng-click="goToMiBosque()" style="width: 90%; margin-left: 5%;" class="button button-block button-balanced">
      Plantar
    </button>

  </div>
  <div class="list card">

    <div class="item">
      <h2 style="text-align: center;">Poró</h2>
    </div>

    <div class="item item-image">
      <img src="img/poro.jpg">
    </div>

    <p style="padding: 5px">Esta especie se reconoce por la corteza verdosa a café claro, levemente fisurada y con aguijones y sus flores rojo intenso. Debido a su forma alargada, a las flores rojas se les llama “pitos” o “cuchillitos”. Este árbol se utiliza principalmente como cerca viva. Sus flores son comestibles y su sabor se asemeja al de la flor de Itabo. Las flores son visitadas por colibríes (Colibri thalassinus, Amazilia tzacatl, Amazilia saucerottei) y otras aves (Vermivora peregrina e Icterus galbula). Las semillas de algunas especies de este género de plantas son de color rojo con negro, se les conoce como “nenes” y se utilizan como tradición de buena suerte.</p>

    <button ng-click="goToMiBosque()" style="width: 90%; margin-left: 5%;" class="button button-block button-balanced">
      Plantar
    </button>

  </div>
	</ion-content>
</ion-view>