<ion-view title="Mi Bosque" id="como" class="inicio-pane">
  <ion-content padding="true" class="has-header">
  <div style="border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 12px;">
    <div class="row">
        <div class="col" style="text-align: center;">
          <img style="width: 100px; height: 100px; border-radius: 50%;" src="img/cortezamarillosq.jpg">
          <p>27 días</p>
        </div>
      </div>
  </div>

  <div class="list card">

    <div class="item">
      <h2 style="text-align: center;">Día 1: Plantación</h2>
    </div>
    <ul style="padding: 5px;">
      <li>- Eliminar la maleza en un radio 3mts donde se va a plantar</li>
      <li>- Hacer un hueco del tamaño de la bolza</li>
      <li>- Poner abono y tapar con tierra</li>
      <li>- Poner el árbol</li>
      <li>- Tapar con tierra</li>
      <li>- Regar</li>
      <li>- Visitarlo todos los días y regarlo al iniciar la mañana o finalizar la tarde</li>
    </ul>

    <button ng-click="" style="width: 90%; margin-left: 5%;" class="button button-block button-balanced">
      Subir foto
    </button>

    <ion-checkbox class="checkbox-balanced" ng-model="dia1">¿Hecho?</ion-checkbox>

  </div>

  <div class="list card">

    <div class="item">
      <h2 style="text-align: center;">En 35 días</h2>
    </div>
    <ul style="padding: 5px;">
      <li>- Medir altura</li>
      <li>- Medir circunferencia</li>
    </ul>

    <button ng-click="" style="width: 90%; margin-left: 5%;" class="button button-block button-balanced" disabled>
      Reportar medición
    </button>

    <button ng-click="" style="width: 90%; margin-left: 5%;" class="button button-block button-balanced" disabled>
      Subir foto
    </button>

    <ion-checkbox class="checkbox-balanced" ng-model="false">¿Hecho?</ion-checkbox>

  </div>

  <div class="list card">

    <div class="item">
      <h2 style="text-align: center;">En 66 días</h2>
    </div>
    <ul style="padding: 5px;">
      <li>- Abonar</li>
    </ul>

    <button ng-click="" style="width: 90%; margin-left: 5%;" class="button button-block button-balanced" disabled>
      Subir foto
    </button>

    <ion-checkbox class="checkbox-balanced" ng-model="false">¿Hecho?</ion-checkbox>

  </div>

  <div class="list card">

    <div class="item">
      <h2 style="text-align: center;">Reportar</h2>
    </div>

    <div class="row">
      <div class="col">
        <button ng-click="" style="width: 90%; margin-left: 5%;" class="button button-block button-balanced">
          Flores
        </button>
      </div>
      <div class="col">
        <button ng-click="" style="width: 90%; margin-left: 5%;" class="button button-block button-balanced">
          Frutos
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
    <button ng-click="" style="width: 90%; margin-left: 5%;" class="button button-block button-balanced">
      Insecto
    </button>
      </div>
      <div class="col">
    <button ng-click="" style="width: 90%; margin-left: 5%;" class="button button-block button-balanced">
      Ave
    </button>
    </div>
    </div>

    <div class="row">
      <div class="col">
    <button ng-click="" style="width: 90%; margin-left: 5%;" class="button button-block button-balanced">
      Otro animal
    </button>
</div>
      <div class="col">
    <button ng-click="" style="width: 90%; margin-left: 5%;" class="button button-block button-balanced">
      Enfermedad
    </button>
    </div>
    </div>

<div class="row">
      <div class="col">
    <button ng-click="" style="width: 90%; margin-left: 5%;" class="button button-block button-balanced">
      Planta o liquen asociado(a)
    </button>
    </div>
    </div>

<div class="row">
      <div class="col">
    <button ng-click="" style="width: 90%; margin-left: 5%;" class="button button-block button-balanced">
      Subir foto
    </button>

    </div>
    </div>

  </div>

	</ion-content>
</ion-view>