<ion-view title="Mi Bosque" id="page3">
    <ion-content padding="true" class="has-header">
    	<div class="item item-avatar" href="#" style="border-radius: 10px">
	      <img src="img/avatar.png">
	      <h2>Ana P.</h2>
	      <p>Carbono contenido: 88kg</p>
	      <p>Puntuación: <i class="icon ion-android-star"></i> <i class="icon ion-android-star"></i> <i class="icon ion-android-star"></i> <i class="icon ion-android-star"></i> <i class="icon ion-android-star-half"></i>
	    </div>
	    <div style="border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 12px;">
		    <div class="row">
			  	<div class="col" style="text-align: center;">
				  	<img style="width: 100px; height: 100px; border-radius: 50%;" src="img/cortezamarillosq.jpg" ng-click="goToMiBosque()">
				  	<p>27 días</p>
				</div>
			  	<div class="col" style="text-align: center;">
				  	<img style="width: 100px; height: 100px; border-radius: 50%;" src="img/porosq.jpg" ng-click="goToMiBosque()">
				  	<p>39 días</p>
				</div>
			</div>
			<div class="row">
				<div class="col" style="text-align: center;">
				  	<img style="width: 100px; height: 100px; border-radius: 50%;" src="img/guititesq.jpg" ng-click="goToMiBosque()">
				  	<p>83 días</p>
				</div>
			  	<div class="col" style="text-align: center;">
				  	<img style="width: 100px; height: 100px; border-radius: 50%;" src="img/llamadelbosquesq.jpg" ng-click="goToMiBosque()">
				  	<p>98 días</p>
				</div>
				</div>
		</div>
	</ion-content>
</ion-view>